.content__section {
  grid-area: contentt;
  margin-top: 60px;
  margin-left: 5px;
  padding: 10px;
  border-radius: 6px;
  background-color: #ffffff;
  color: #333333;
  border: 2px solid #eeeeee;
}

.content__logo {
  width: 100%;
  padding-bottom: 10px;
}

.content__info {
  width: 400px;
}

.content__avatar {
  width: 100px;
}

.content__info h1, .content__info span {
  font-size: 18px;
  color: #333333;
}

.content__info a {
  text-decoration: none;
  color: #333333;
}
