.nav {
  grid-area: nav;
}

.sidebar {
  margin-top: 60px;
  margin-right: 5px;
  border-radius: 6px;
  background-color: #ffffff;
  color: #333333;
  border: 2px solid #eeeeee;
}

.nav__menu li:nth-child(4) {
  margin-bottom: 10px;
}

.nav__menu a {
  text-decoration: none;
  color: #555555;
}

.nav__menu a:hover {
  color: goldenrod;
  transition: all 0.4s ease-in-out;
  background-color: rgba(128, 128, 128, 0.1);
  border: 1px solid silver;
  border-radius: 4px;
  padding: 5px;
}

.nav__menu  a.active_link {
  color: gold;
}

.nav__menu li {
  font-size: 20px;
}
