.content__section {
    margin-left: 5px;
    padding: 20px;
    border-radius: 6px;
    background-color: #ffffff;
    color: #333333;
    border: 2px solid #eeeeee;
  }
  
  .content__logo {
    width: 100%;
    padding-bottom: 20px;
    border-radius: 6px 6px 0 0;
  }
  
  .content__info {
    width: 400px;
  }
  
  .content__avatar {
    width: 100px;
    border-radius: 4px;
  }
  
  .content__info h1 {
    padding-left: 10px;
  }
  
  .content__info h1, .content__info span {
    font-size: 18px;
    color: #333333;
  }
  
  .content__info a {
    text-decoration: none;
    color: #333333;
  }
  
  .content__info a:hover {
    background-color: green;
    transition: 0.4s ease-in;
    color: #ffffff;
    padding: 2px;
    border-radius: 2px;
  }
  