li {
  list-style-type: none;
}

a {
  outline: none;
}

.app__wrapper {
  display: grid;
  width: 1170px;
  margin: 0 auto;
  grid-template-rows: 120px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas:
  "header header"
  "nav contentt";
}

.app__wrapper__content {
  grid-area: contentt;
}
