a {
    text-decoration: none;
}

.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    border-radius: 4px;
    border: 2px solid gray;
    padding: 20px;
    background-color: lightseagreen;
}

.dialogs_items {
    padding: 0 20px;
    color: #111111;
}

.dialogs_items .active {
    color: goldenrod;
    background-color: cornsilk;
}

.messages {
    padding: 0 20px; 
}

.message {
    padding: 10px;
    background-color: lightgray;
    margin: 20px 0;
    border-radius: 4px;
    border: 1px solid silver;
    color: #222222;
}
